.cardImg {
    height: 286px;
    width: 216.38px;
}

.catCard {
    margin-bottom: 30px;
}
.smallPrice {
    float: right;
}

.cartButton {
    margin-top: 10px;
}

.qty {
    color: red;
}

.cartBtnGroup {
    float: right;
}

.qtyBtn {
    margin-right: 20px;
}

.iconColor {
    color: white;
}

.list-group-item {
    width: 66vw;
}